<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS Page</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="/static/cms.css">
    <title>Add Record</title>

    <style>
        html, body 
            {
                height: 100%;
            }
            
        .msg{
            width: 100%;
            height: auto;
            font-size: 20px;
            color: black;
            background-color: blanchedalmond;
        }
    </style>
</head>
<body>
    <div class="form-border">
        
        <form action = "{{url_for('addRecord')}}" method = "POST">
            <h1>Please Fill the fields</h1>
            
            <div class="form-group">
                <label for="id">Title</label>
                <input id="title" type="text" name= "title" required>
            </div>
            <div class="form-group">
                <label for="id">Price</label>
                <input id="price" type="text" name= "price" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <input id="category" type="text" name= "category" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input id="description" type="text" name= "description" required>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input id="image" type="text" name= "image" required>
            </div>
            <div class="form-group">
                <input type="submit" name ="button" value="addRecord"></input>
             </div>  
             <div class="msg">{{ msg }}</div>
        </div>
        