<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-border">
        
        <form action="#" method="POST" >
           
                <label for="category" id="category" name="category">Category</label>
                <select name="category" id="category">
                
                    <option value= men-colthing>men-colthing</option>
                    <option value= women-colthing>women-colthing</option>
                    <option value= jewelery>Jewelery</option>
                    <option id = "others" value= others>Others</option>
                
        </select>

        <select id="second-choice">
            <option>Please choose from above</option>
          </select>

        </div>
    </form>
</div>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script>
    $("#category").load(function() {
        alert("clicked");
});
</script>
</html>